<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<!--https://color.adobe.com/pomegranate-explosion-color-theme-7869531/?showPublished=true-->
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{css/main.css}" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script th:src="@{js/app.js}"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<header>

</header>
<div id="main-content" class="container">
    <div id="login-content">
         <input id="alias" type="text" for="connect" placeholder="Enter an alias..."></input>
         <button id="connect" type="submit">Connect</button>
    </div>
    <h1 id="question"></h1>
    <iframe src="" id="image"/>

    <div id="results"></div>

    <table id="options" style="display: none">
      <tr>
        <th id="options1" value="1">Option 1</th>
        <th id="options2"  value="2">Option 2</th>
      </tr>
      <tr>
        <th id="options3"  value="3">Option 3</th>
        <th id="options4"  value="4">Option 4</th>
      </tr>
    </table>
    <div id="aliases"></div>
</div>
</body>
</html>
